@{
    ViewData["Title"] = "Home Page";
}

    <form action="postForm" method="post" class="mt-4">
        <div class="d-flex flx mb-2">
            <label style="flex: 1;">Your Name: </label>
            <input name="Name" style="flex: 1; type=" text">
        </div>
        <div class="d-flex flx mb-2">
            <label style="flex: 1;">Dojo Location: </label>
            <select style="flex: 1;" name="Location">
                <option value="San Jose">San Jose</option>
                <option value="Corfu">Corfu</option>
            </select>
        </div>
        <div class="d-flex flx mb-2">
            <label style="flex: 1;">Fevorite Language: </label>
            <select style="flex: 1;" name="Language">
                <option value="C#">C#</option>
                <option value="Python">Python</option>
            </select>
        </div>
        <div class="d-flex flx-2">
            <label class="d-block" for="">Comment (optional): </label>
        </div>
        <div class="d-flex flx-2">
            <textarea name="Comment" cols="40" rows="5"></textarea>
        </div>
        <div class="d-flex flx-2 mt-3">
            <input type="submit">
        </div>

    </form>